body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background:#ffffff;
}
.monBody #header {
    height:140px;
    background-color:#000;
    color:#fff;
}

.menu_haut {background-color:#000;color:#fff;margin-top:-13px;width:100%;}
.menu_haut ul {
	width:100%;
	text-align:center;
	height:30px;
	margin-left:-50px;
	margin-right:-50px;
	}
.menu_haut li {
	text-decoration:none;
	font-weight:bold;
	display:inline;
	font-size:16px;
	padding:10px 15%;
	color:#fff;
	}
.menu_haut li a {
	color: #fff;
	text-decoration: none;
	display: inline;
	height: 100%;
	border: 0 none;
}
.menu_haut li a:hover {
	color:#000;
	background:#eee;
}

.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
.baniere{float:left;
  margin-top:20px;
  margin-left:5px;
  border:none;}
.baniere img{
  border:none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a  {
    text-decoration:none;
    color:#0072ff;
}

.traitVertical {
  border-left: 1px white solid;
}

#connexionBody {
  background-image:-webkit-linear-gradient(#000000, #000000);
  background-image:-o-linear-gradient(#000000, #000000);
  background-image:linear-gradient(#000000, #000000);
  color: #ffffff;
}

#connexion {
  position: fixed;
  top:40%;
  left:50%;
  transform:translate(-50%, -50%);
}

#connexion table {
  margin: 35px auto;
}
q
#connexion td {
  text-align: left;
  width: 100px;
  height: 25px;
}

#connexion input[type="submit"], #connexionBody input[type="reset"] {
  margin: 0px 15px;
}

#profile {
  display: inline-block;
  color: #ffffff;
  border: 1px solid white;
  width: 185px;
  height: 25px;
  margin-top: 25px;
  margin-left: 40%;
}

#profile p {
  margin: 5px auto;
  text-align: center;
}

#profile input {
  padding: 0px;
  padding-left: 2.5px;
  padding-right: 1px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-style: italic;
  font-size: 12.5px;
  background-color: #000000 !important;
}

#menuGestionVip {
  border: 1px solid black;
  flex: 2;
  border-radius: 10px;
  background-color: black;
  height: 5%;
}

#menuGestionVip img {
  padding: 2% 0%;
}

#menuGestionVip table {
  width: 100%;
  background-color: #000000;
}

#menuGestionVip td {
  display: block;
  border-top: 1px solid white;
}

#menuGestionVip p {
  color: white;
  font-size: 20px;
  margin: 5px 0px
}

#containerFlex {
  display: flex;
}

#containerFlex a {
  color: black;
  text-decoration: underline;
}

#containerFlex p {
  padding: 0px;
}

#gestionVip {
  flex: 10;
  text-align: left;
}

#gestionVip td input, #gestionVip td select, #gestionVip td textarea {
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

#gestionVip fieldset {
  padding: 1.5% 1%;
}

.flex {
  flex: 1;
}

#gestionVip td {
  vertical-align: top;
}

#submits {
  text-align: center;
}

.flexTableau {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1% 0%;
}

.left {
  width: 17%;
}

.right {
  margin-right: auto;
}

.formSecondaire {
  display: none;
}
