body {
  font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
  background-image:-webkit-linear-gradient(#9f0909, #4e0000);
  background-image:-o-linear-gradient(#9f0909, #4e0000);
  background-image:linear-gradient(#9f0909, #4e0000);
  background-size: 1rem 200rem;
  font-size:0.8em;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

p  {
  padding: 5px;
  font-size: 15px;
  text-align: left;
  margin: 0px;
}

a  {
  text-decoration:none;
  color:#0072ff;
  display: inline-block;
}

a span {
  display: none;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  width: 300px;
  position: absolute;
  z-index:10;
}

a span img {
  height: 100px;
  padding: 10px;
  width: auto;
  float: left;
}

a:hover span{
  display:block;
}

.menu_haut {
  background-color:#000;
  color:#fff;margin-top:-13px;
  width:100%;
}

.baniere {
  float:left;
  margin-top:20px;
  margin-left:5px;
  border:none;
}

.traitVertical {
  border-left: 1px white solid;
}

.vipPhotoPrenomNom {
  width: 225px;
  display: inline-block;
}

.image-secondaire {
  height: 150px;
  width: auto;
}

.floatLeft {
  float: left;
  margin: 0% 1%;
}

.menu_haut ul {
  width:100%;
  text-align:center;
  height:30px;
  margin-left:-50px;
  margin-right:-50px;
}

.menu_haut li {
  text-decoration:none;
  font-weight:bold;
  display:inline;
  font-size:14px;
  padding:10px 10px 10px 10px;
  color:#fff;
}

.menu_haut li a {
  color: #fff;
  text-decoration: none;
  display: inline;
  height: 100%;
  border: 0 none;
}

.baniere img {
  border:none;
}

.vipPhotoPrenomNom img {
  height: 200px;
  width: auto;
}

.menu_haut li a:hover {
  color:#000;
  background:#eee;
}

.vipPhotoPrenomNom p {
  text-align: center;
  margin: 5% 0%;
}

.monBody #container {
  width: 1300px;
  margin: 0 auto;
  background:#ffffff;
}

.monBody #header {
  height:140px;
  background-color:#000;
  color:#fff;
}

.monBody #contenu {
  padding:20px;
  overflow: auto;
}

.monBody #footer {
  padding: 0 10px;
  font-size:0.8em;
  text-align:center;
  height:150px;
  background:url(/image/footer.jpg) no-repeat;
}

.flex {
  flex: 1;
}

#LogoNode {
  max-height: 20%;
  max-width: 20%;
}

#detail p {
  margin: 0.5% 0%;
}

#image-profile {
  float: left;
  padding: 1%;
  height: 200px;
  width: auto;
}

#menuLettre p {
  text-align: center;
}

#menuLettre a {
  padding: 0% 0.5%;
}

#containerArticle {
  display: flex;
}

#article {
  flex: 5;
}

#menuArticle {
  border: 1px solid black;
  border-radius: 10px;
  flex: 2;
}

#menuArticle #imageMenu {
  padding: 2% 0%;
  border-radius: 10px 10px 0px 0px;
  background-color: black;
}

#menuArticle table {
  margin: auto;
}

#menuArticle a {
  color: black;
  text-decoration: underline;
}

#menuArticle td {
  font-size: 14px;
}
