<div id="containerFlex">
  <div id="menuGestionVip">
    <img src="/images/photos.png">
    <table>
      <tr>
        <td>
          <a href="/ajoutPhoto"><p>Ajouter</p></a>
        </td>
        <td>
          <a href="/suppressionPhoto"><p>Supprimer</p></a>
        </td>
      </tr>
    </table>
    <br>
  </div>

  <div class="flex"></div>

  <div id="gestionVip">
    <fieldset>
      <legend><b>Ajout d'une photo</b></legend>
      <form method="post" enctype="multipart/form-data">
      <div class="flexTableau">
        <div class="left">
          <label>Nom du vip :</label>
        </div>
        <div class="right">
          <select name="vip">
            {{#each listeVip}}
              <option value="{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="flexTableau">
        <div class="left">
          <label>Adresse de la photo :</label>
        </div>
        <div class="right">
          <input type="file" name="photo"  accept="image/*" required />
        </div>
      </div>
      <div class="flexTableau">
        <div class="left">
          <label>Titre :</label>
        </div>
        <div class="right">
          <input type="text" name="sujetPhoto" />
        </div>
      </div>
      <div class="flexTableau">
        <div class="left">
          <label>Un petit commentaire ? :</label>
        </div>
        <div class="right">
          <textarea name="commentairePhoto" cols="40" rows="5"></textarea>
        </div>
      </div>
      <div id="submits">
        <input type="submit" />
        <input type="reset" value="Annuler" />
      </div>
    </fieldset>
  </div>

</div>
