<div id="containerFlex">
  <div id="menuGestionVip">
    <img src="/images/photos.png">
    <table>
      <tr>
        <td>
          <a href="/ajoutPhoto"><p>Ajouter</p></a>
        </td>
        <td>
          <a href="/suppressionPhoto"><p>Modifier</p></a>
        </td>
      </tr>
    </table>
    <br>
  </div>

  <div class="flex"></div>

  <div id="gestionVip">
    <fieldset>
      <legend><b>Ajout d'une photo</b></legend>
      <input type="submit" value="Valider" />
    </fieldset>
  </div>

</div>
