<div id="connexion">
  <h2>Administration</h2>
  <form method="post">
    <table>
      <tr>
        <td>
          <label>Login :</label>
        </td>
        <td>
          <input type="text" name="user" required />
        </td>
      </tr>
      <tr>
        <td>
          <label>Mot de passe :</label>
        </td>
        <td>
          <input type="password" name="password" required />
        </td>
      </tr>
    </table>
    <input type="reset" value="Annuler" />
    <input type="submit" value="Connexion" />
</div>
