<div id="containerFlex">
  <div id="menuGestionVip">
    <img src="/images/vips.png">
    <table>
      <tr>
        <td>
          <a href="/ajoutVip"><p>Ajouter</p></a>
        </td>
        <td>
          <a href="/modificationVip"><p>Modifier</p></a>
        </td>
        <td>
          <a href="/suppressionVip"><p>Supprimer</p></a>
        </td>
      </tr>
    </table>
    <br>
  </div>

  <div class="flex"></div>

  <div id="gestionVip">
    <fieldset>
      <legend><b>Suppression VIPs</b></legend>
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <br>
        <input type="text" name="title2">
        <br>
        <input type="submit">
      </form>
    </fieldset>
  </div>

</div>
