<div id="containerFlex">
  <div id="menuGestionVip">
    <img src="/images/vips.png">
    <table>
      <tr>
        <td>
          <a href="/ajoutVip"><p>Ajouter</p></a>
        </td>
        <td>
          <a href="/modificationVip"><p>Modifier</p></a>
        </td>
        <td>
          <a href="/suppressionVip"><p>Supprimer</p></a>
        </td>
      </tr>
    </table>
    <br>
  </div>

  <div class="flex"></div>

  <div id="gestionVip">
    <fieldset>
      <legend><b>Suppression VIPs</b></legend>
      <select name="vipSupprimer">
      </select>
      <input type="submit" value="Valider" />
    </fieldset>
  </div>

</div>
